- Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el tipo de magnitud `mb`.
- Encuentre el porcentaje de terremotos en Indonesia que se acompañaron de tsunamis.
- Calcule estadísticas resumidas para terremotos en Nevada.
- Agregue una columna que indique si el terremoto ocurrió en un país o estado de EE. UU. Que se encuentra en el "Anillo de fuego". - Utilice Alaska, Antarctica (buscar por Antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (no es New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.
- Calcula el número de terremotos en las ubicaciones del Anillo de Fuego y el número fuera de ellos.
- Encuentra el recuento de tsunamis a lo largo del Anillo de fuego.

In [7]:
import pandas as pd
import numpy as np
csv = 'C:\\Users\\lupon\\Dropbox\\ID_BOOTCAMPS\\Bootcamp_DataScience_student\\week10\\data\\parsed.csv'
data = pd.read_csv(csv)
data.head()

,alert,cdi,code,detail,dmin,felt,gap,ids,mag,magType,...,status,time,title,tsunami,type,types,tz,updated,url,parsed_place
0,NaN,NaN,37389218,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.008693,NaN,85.0,",ci37389218,",1.35,ml,...,automatic,1539475168010,"M 1.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475395144,https://earthquake.usgs.gov/earthquakes/eventp...,California
1,NaN,NaN,37389202,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.020030,NaN,79.0,",ci37389202,",1.29,ml,...,automatic,1539475129610,"M 1.3 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475253925,https://earthquake.usgs.gov/earthquakes/eventp...,California
2,NaN,4.4,37389194,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.021370,28.0,21.0,",ci37389194,",3.42,ml,...,automatic,1539475062610,"M 3.4 - 8km NE of Aguanga, CA",0,earthquake,",dyfi,focal-mechanism,geoserve,nearby-cities,o...",-480.0,1539536756176,https://earthquake.usgs.gov/earthquakes/eventp...,California
3,NaN,NaN,37389186,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.026180,NaN,39.0,",ci37389186,",0.44,ml,...,automatic,1539474978070,"M 0.4 - 9km NE of Aguanga, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,",-480.0,1539475196167,https://earthquake.usgs.gov/earthquakes/eventp...,California
4,NaN,NaN,73096941,https://earthquake.usgs.gov/fdsnws/event/1/que...,0.077990,NaN,192.0,",nc73096941,",2.16,md,...,automatic,1539474716050,"M 2.2 - 10km NW of Avenal, CA",0,earthquake,",geoserve,nearby-cities,origin,phase-data,scit...",-480.0,1539477547926,https://earthquake.usgs.gov/earthquakes/eventp...,California

In [55]:
# - Encuentre el percentil 95 de la magnitud del terremoto en Japón usando el tipo de magnitud `mb`
data1 = data[(data.magType == 'mb') & (data.parsed_place == 'Japan')]
mags = list(data1['mag'])
perc = np.percentile(mags, 95)
print(f'El percentil 95 de la magnitud de los terremotos en Japón es: {perc}')

El percentil 95 de la magnitud de los terremotos en Japón es: 4.9

In [41]:
# Encuentre el porcentaje de terremotos en Indonesia que se acompañaron de tsunamis
data2 = data[data.parsed_place == 'Indonesia']
totalTerremotos = data2.shape[0]
data2 = data[(data.parsed_place == 'Indonesia') & (data.tsunami == 1)]
terrConTsunami = data2.shape[0]
p = round((terrConTsunami/totalTerremotos)*100, 2)
print(f'Los terremotos acompañados de tsunamis en Indonesia son un {p}% del total')

Los terremotos acompañados de tsunamis en indonesia son un 23.13% del total

In [46]:
# - Calcule estadísticas resumidas para terremotos en Nevada
data3 = data[data.parsed_place == 'Nevada']
data3.describe()

,cdi,dmin,felt,gap,mag,mmi,nst,rms,sig,time,tsunami,tz,updated
count,15.000000,681.000000,15.000000,681.000000,681.000000,1.00,681.000000,681.000000,681.000000,6.810000e+02,681.0,681.0,6.810000e+02
mean,2.440000,0.166199,2.400000,153.668120,0.500073,2.84,12.618209,0.151986,10.970631,1.538314e+12,0.0,-480.0,1.538402e+12
std,0.501142,0.166228,4.626013,68.735302,0.696710,NaN,9.866963,0.084662,19.607150,5.965637e+08,0.0,0.0,6.010951e+08
min,2.000000,0.001000,1.000000,29.140000,-0.500000,2.84,3.000000,0.000500,0.000000,1.537247e+12,0.0,-480.0,1.537307e+12
25%,2.000000,0.053000,1.000000,97.380000,-0.100000,2.84,6.000000,0.106900,0.000000,1.537854e+12,0.0,-480.0,1.537928e+12
50%,2.200000,0.112000,1.000000,149.140000,0.400000,2.84,10.000000,0.146300,2.000000,1.538280e+12,0.0,-480.0,1.538428e+12
75%,2.900000,0.233000,1.000000,199.720000,0.900000,2.84,16.000000,0.187100,12.000000,1.538821e+12,0.0,-480.0,1.538878e+12
max,3.300000,1.414000,19.000000,355.910000,2.900000,2.84,61.000000,0.863400,129.000000,1.539461e+12,0.0,-480.0,1.539483e+12

In [96]:
# - Agregue una columna que indique si el terremoto ocurrió en un país o estado de EE. UU. Que se encuentra en el "Anillo de fuego". - Utilice Alaska, Antarctica (buscar por Antarctic), Bolivia, California, Canada, Chile, Costa Rica, Ecuador, Fiji, Guatemala, Indonesia, Japan, Kermadec Islands, Mexico (no es New Mexico), New Zealand, Peru, Philippines, Russia, Taiwan, Tonga, and Washington.
anilloUSA = ['Alaska', 'California', 'Washington']
data4 = data.copy()
list = []
for e in data4['parsed_place']:
    if e in anilloUSA:
        list.append(True)
    else:
        list.append(False)
data4 = data4.assign(anillo_usa = list)
data4[['parsed_place', 'anillo_usa']].sample(30)
# data4[data4['parsed_place'] == 'Mexico']

     parsed_place  anillo_usa
8928       Alaska        True
6246       Alaska        True
7097  Puerto Rico       False
5466       Nevada       False
6263  New Zealand       False
7899       Alaska        True
4291       Alaska        True
3838       Alaska        True
1994   California        True
5615       Alaska        True
8457       Alaska        True
3154       Hawaii       False
6200       Nevada       False
1050       Alaska        True
5416  Puerto Rico       False
4229   California        True
2442        Idaho       False
6264       Greece       False
4379       Alaska        True
9053   California        True
3238   California        True
3639       Alaska        True
136        Alaska        True
4253   California        True
3993   California        True
2779   California        True
8358       Mexico       False
1105   California        True
2760       Alaska        True
2446   California        True

In [83]:
# - Calcula el número de terremotos en las ubicaciones del Anillo de Fuego y el número fuera de ellos
anillo = ['Alaska', 'Antarctic', 'Bolivia', 'California', 'Canada', 'Chile', 'Costa Rica', 'Ecuador', 'Fiji', 'Guatemala', 'Indonesia', 'Japan', 'Kermadec Islands', 'Mexico', 'New Zealand', 'Peru', 'Philippines', 'Russia', 'Taiwan', 'Tonga', 'Washington']
a = 0
b = 0
for e in data['parsed_place']:
    if e in anillo:
        a += 1
    else:
        b += 1
print(f'Los terremotos dentro del anillo de fuego son {a}. Los terremotos en el resto del mundo son {b}')

Los terremotos dentro del anillo de fuego son 7184. Los terremotos en el resto del mundo son 2148

In [104]:
# - Encuentra el recuento de tsunamis a lo largo del Anillo de fuego.
t = 0
for e in data['parsed_place']:
    if e in anillo:
        if data['tsunami'].bool == 1:
            t += 1

print(t)

0

In [156]:
# - Encuentra el recuento de tsunamis a lo largo del Anillo de fuego.
t = 0
for n in range(data.shape[0]):
    if data['parsed_place'][n] in anillo:
        if data['tsunami'][n] == 1:
            t += 1

print(t)

45

In [158]:
sum([ 1 if data['parsed_place'][n] in anillo and data['tsunami'][n] == 1 else 0 for n in range(data.shape[0])])

45