<a href="https://colab.research.google.com/gist/marcusRB/e06362dfec5f1cb10d3774b0f2ded026/preprocesamiento-de-datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ejercicio 1
Cargue los datos del fichero bank_edited.csv en un dataframe. Este conjunto de datos recoge información respecto a una campaña de marketing de un banco portugués. El conjunto original se puede encontrar en el [repositorio de datos de Machine Learning de la UC Irvine] (http://archive.ics.uci.edu/ml/datasets/Bank+Marketing), pero el conjunto que utilizaremos tiene alguna modificación .Observación: revise la documentación de la función  read_csv para ver qué parámetro disponemos para ajustar el proceso de cargar de datos.Los valores del estado civil (atributo marital) contienen errores tipográficos y incluyen el uso de diferentes nomenclaturas. En este ejercicio unificaremos la nomenclatura de los valores de esta variables.

In [41]:
import pandas
df = pandas.read_csv('bank_edited.csv', sep=';')

- a) ¿Cuantos valors diferentes tiene el atributo marital en el conjunto de datos? Mostrad estos valores.

In [42]:
# respuesta
r = df.marital.unique()
print(f'El atributo "marital" tiene {len(r)} valores distintos. Son los siguientes: \n{r}')

El atributo "marital" tiene 11 valores distintos. Son los siguientes:
['married' 'single' 'marrid' 'divorced' 'maried' 'sing' 'Married'
 'MARRIED' 'DIVORCED' 'Single' 'SINGLE']

- b) Unificad los atributos marital en los valores: "single", "married" o "divorced".

In [43]:
# respuesta
df.marital = df.marital.str.lower()
# df.marital = df.marital.replace('sing', 'single')
# df.marital = df.marital.replace('marrid', 'married')
# df.marital = df.marital.replace('maried', 'married')

df.marital = df.marital.replace(r'^sing.*$', 'single', regex=True)
df.marital = df.marital.replace(r'^mar.*$', 'married', regex=True)

r = df.marital.unique()
print(f'El atributo "marital" tiene ahora solo {len(r)} valores distintos. Son los siguientes: \n{r}')

El atributo "marital" tiene ahora solo 3 valores distintos. Son los siguientes:
['married' 'single' 'divorced']

 c) ¿Qué columnas contienen valores perdidos?

In [44]:
# respuesta
cols = df.columns
print(cols)
perdidos = [c for c in cols if df[c].isnull().values.any()]
print(f'Éstas columnas tienen valores perdidos:\n{perdidos}')

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')
Éstas columnas tienen valores perdidos:
['balance', 'day', 'duration']

d) Calculad el primer y el tercer cuartil del atributo "balance".

In [45]:
# respuesta
b = df['balance'].describe()
print(f'El primer cuartil es: {b[4]}')
print(f'El tercer cuartil es: {b[6]}')

El primer cuartil es: 68.0
El tercer cuartil es: 1476.0

Ejercicio 2
 El atributo poutcome contiene información sobre si el cliente del banco contractó un deposito. Calula la correlacióm entre el atributo poutcome y el resto de atributos (usa la función 'corr'). ¿Qué variable presenta mayor correlación con poutcome?

In [46]:
# Respuesta
u = df.poutcome.unique()
print(u)
for i, v in enumerate(u): df['poutcome'] = df['poutcome'].replace(v, i)
corr_serie = df.corr().poutcome[:-1].sort_values()
print(corr_serie[-1])

# # Respuesta Marco
# data_poud = df[df.poutcome.isin(('failure', 'success'))]
# data_poud['poutcome_cat'] = df.

['unknown' 'failure' 'other' 'success']
0.7111444071306131

Ejercicio 3
 El módulo sklearn incluye varios datasets de ejemplo, dentro del módulo sklearn.datasets. Estos datasets se almacenan en formato Bunch, propio de sklearn. Un Bunch es un objeto tipo diccionario, los atributos interesantes son: data, con los datos en crudo, target, con generalmente las etiquetas de clasificación o etiquetas objetivo, target_names, el significado de las etiquetas, feature_names, el significado de las características o atributos, DESCR , la descripción completa del conjunto de datos. Importa el dataset iris de sklearn. Almacena los datos este dataset como un objeto pandas, con los correpondientres nombres de variables. Añade la variable target en el dataframe con el nombre de atributo Species y los valors con el tipo de especie de cada muestra.

In [50]:
# Respuesta
from sklearn import datasets
iris = datasets.load_iris()
species = iris['target_names']
df_iris = pandas.DataFrame(data=iris.data, columns=iris.feature_names)
df_iris['Species'] = iris.target.astype(str)
for n in range(3): df_iris['Species'] = df_iris['Species'].replace(str(n), species[n])
df_iris.sample(10, random_state=23)

# oneHotEncoder de sklearn

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Species
139,6.9,3.1,5.4,2.1,virginica
125,7.2,3.2,6.0,1.8,virginica
67,5.8,2.7,4.1,1.0,versicolor
3,4.6,3.1,1.5,0.2,setosa
113,5.7,2.5,5.0,2.0,virginica
52,6.9,3.1,4.9,1.5,versicolor
18,5.7,3.8,1.7,0.3,setosa
137,6.4,3.1,5.5,1.8,virginica
20,5.4,3.4,1.7,0.2,setosa
64,5.6,2.9,3.6,1.3,versicolor